.mybody {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.login_container {
    background-color: deepskyblue;
    width: 420px;
    height: 260px;
    border: 2px solid darkslategray;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
    top: 50%;
    margin-top: -130px;
    /* for IE */
    filter: alpha(opacity=60);
    /* CSS3 standard */
    opacity: 0.6;
    /* IE */
    -moz-opacity:1.0;
   }

.login_title {
    text-align: center;
    margin-top: 20px;
}

.login_edit_container1 {
    text-align: center;
    margin-top: 50px;
}

.login_edit_container2 {
    text-align: center;
    margin-top: 30px;
}

.login_div {
    text-align: end;
    margin-right: 96px;
    margin-top: 20px;
}

.login {
    background-color: #102bff;
    width: 60px;
    height: 30px;
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 6px;
}